.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
.page-header nav {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  z-index: 100;
}
.page-header nav ul {
  padding-left: 0;
  list-style: none;
}
.page-header nav ul li {
  opacity: 0.7;
  display: inline-block;
  margin: 0rem 1.2rem;
  font-size: 1em;
  font-weight: bold;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.page-header nav ul li a {
  text-decoration: none;
  color: inherit;
}
.page-header nav ul li:hover {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.profile_image {
  width: 100%;
  height: 10rem;
  margin: 0 auto;
  position: absolute;
  transform: translateY(-5rem);
  z-index: 100;
}
.profile_image figure {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  border: 0.7rem solid rgba(255,255,255,0.8);
  border-radius: 100%;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.profile_image figure img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}
