/* VARIABLES */
/* MIXINS */
/* GENERAL */
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.btn {
  display: inline-block;
  margin: 1rem auto;
  color: #159957;
  background-color: rgba(255,255,255,0.2);
  border-color: #159957;
  border-style: solid;
  border-width: 0.3rem;
  border-radius: 0.3rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  color: #fff;
  background-color: #159957;
  text-decoration: none;
}
/* HEADER */
.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
.page-header nav {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  z-index: 100;
  vertical-align: middle;
}
.page-header nav ul {
  padding-left: 0;
  margin-top: 1rem;
  list-style: none;
}
.page-header nav ul li {
  opacity: 0.7;
  display: inline-block;
  margin: 0rem 1.2rem;
  font-size: 1em;
  font-weight: bold;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.page-header nav ul li a {
  text-decoration: none;
  color: inherit;
}
.page-header nav ul li:hover {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.nav-open {
  max-height: 25rem !important;
  opacity: 1 !important;
  -webkit-transition: max-height 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -moz-transition: max-height 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -o-transition: max-height 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  transition: max-height 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
}
.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}
.social-icons i {
  cursor: pointer;
  padding: 0 0.5rem;
  opacity: 0.7;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.social-icons i:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.btn-nav-header {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 1rem;
  right: 1rem;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 200;
}
.btn-nav-header span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background-color: #fff;
  opacity: 0.8;
  display: block;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.btn-nav-header:hover span {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.rotate {
  transform: rotate(-90deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.rotate span {
  opacity: 1;
}
.profile_image {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  transform: translateY(-5rem);
  z-index: 100;
}
.profile_image figure {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  border: 0.6rem solid rgba(255,255,255,0.8);
  border-radius: 100%;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.profile_image figure img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}
@media screen and (min-width: 64em) {
  .project-name {
    padding: 3rem 6rem 0rem;
    font-size: 3.25rem;
  }
  .social-icons {
    padding: 0.75rem 6rem 7rem;
    font-size: 1.5rem;
  }
  .page-header nav {
    display: block;
  }
  .btn-nav-header {
    display: none;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    padding: 3rem 4rem 0rem;
    font-size: 2.25rem;
  }
  .social-icons {
    padding: 1rem 4rem 6rem;
    font-size: 1.35rem;
  }
  .page-header nav ul {
    max-height: 0;
    overflow: hidden;
    padding-top: 2rem;
    margin-bottom: -1rem;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    -moz-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    -o-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  }
  .page-header nav ul li {
    display: block;
    padding-bottom: 1rem;
  }
  .profile_image {
    transform: translateY(-4rem);
  }
  .profile_image figure {
    width: 8rem;
    height: 8rem;
    border: 0.4rem solid rgba(255,255,255,0.8);
  }
  .btn-nav-header {
    display: block;
  }
}
@media screen and (max-width: 42em) {
  .project-name {
    padding: 2rem 1rem 0rem;
    font-size: 2rem;
  }
  .social-icons {
    padding: 1rem 1rem 4.5rem;
    font-size: 1.35rem;
  }
  .page-header nav ul {
    max-height: 0;
    overflow: hidden;
    padding-top: 2rem;
    margin-bottom: -1rem;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    -moz-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    -o-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  }
  .page-header nav ul li {
    display: block;
    padding-bottom: 1rem;
  }
  .profile_image {
    transform: translateY(-3rem);
  }
  .profile_image figure {
    width: 8rem;
    height: 8rem;
    border: 0.4rem solid rgba(255,255,255,0.8);
  }
}
/* MAIN CONTENT */
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957;
}
section .content h3:after {
  content: ' ';
  width: 2rem;
  border: 2px solid #159957;
  margin: 2px 0;
  display: block;
}
@media screen and (min-width: 64em) {
  .main-content {
    padding: 6rem 0rem 2rem;
  }
  .content {
    max-width: 64rem;
    padding: 1rem 6rem 1rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 4rem 0rem 2rem;
  }
  .content {
    padding: 0.5rem 4rem 0.5rem;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 42em) {
  .main-content {
    padding: 5rem 0rem 2rem;
  }
  .content {
    padding: 0.5rem 1rem 0.5rem;
    font-size: 1rem;
  }
}
/* SKILLS */
#skills {
  z-index: 100;
  position: relative;
}
#skills .skills-row {
  margin: 0 auto;
  text-align: center;
}
#skills .skills-row .skill-circle {
  display: inline-block;
  margin: 1rem;
  background-image: linear-gradient(120deg, #155799, #159957);
  border-radius: 100%;
}
#skills .skills-row .skill-circle span {
  position: absolute;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#skills .skills-row .skill-circle .skill-name {
  font-size: 1.3rem;
}
#skills .skills-row .skill-circle figure {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border: 0.6rem solid rgba(255,255,255,0);
  border-radius: 100%;
}
#skills .skills-row .skill-circle figure img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
  background: #fff;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#skills .skills-row .skill-circle:hover span {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#skills .skills-row .skill-circle:hover figure img {
  opacity: 0.1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#skills #show-more-btn b {
  padding-right: 0.4rem;
}
#skills #show-more-btn i {
  transform: translateY(-0.1rem);
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
.rotate-arrow {
  transform: rotate(180deg) translateY(-0.1rem) !important;
  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}
/* SHOW MORE */
#show-more {
  max-height: 0;
  height: 80rem;
  overflow: hidden;
  transform: skewY(-3deg);
  -webkit-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -moz-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -o-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
}
#show-more .content {
  transform: skewY(3deg);
}
#show-more .content .skill-slide:first-child {
  padding: 0;
}
#show-more .content .skill-slide {
  margin: 2rem 0;
  clear: both;
  padding: 2rem 0;
}
#show-more .content .skill-slide h3 {
  color: #eee;
  text-align: center;
  font-size: 2rem;
}
#show-more .content .skill-slide h3:after {
  border-color: #eee;
  width: 5rem;
  margin: 2px auto;
}
#show-more .content .skill-slide .more-skill-col {
  color: #eee;
  width: 50%;
  min-width: 21rem;
  display: inline-block;
  padding-bottom: 2rem;
  float: left;
}
#show-more .content .skill-slide .more-skill-col ul {
  list-style: none;
  margin: 0 0;
  padding: 0 0.5rem;
}
#show-more .content .skill-slide .more-skill-col ul li {
  padding: 0.25rem 0.5rem;
}
#show-more .content .skill-slide .more-skill-col ul li i {
  -webkit-transition: margin-left 0.3s ease;
  -moz-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}
#show-more .content .skill-slide .more-skill-col ul li:hover {
  background-color: rgba(238,238,238,0.1);
}
#show-more .content .skill-slide .more-skill-col ul li:hover i {
  margin-left: 0.15rem;
  -webkit-transition: margin-left 0.3s ease;
  -moz-transition: margin-left 0.3s ease;
  -o-transition: margin-left 0.3s ease;
  transition: margin-left 0.3s ease;
}
#show-more .content .skill-slide .more-skill-col ul div {
  display: inline-block;
}
#show-more .content .skill-slide .more-skill-col ul .more-skill-score {
  float: right;
}
#show-more .content .skill-slide .more-skill-col ul .empty {
  color: rgba(238,238,238,0.3);
}
.show-more-open {
  max-height: 80rem !important;
  -webkit-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -moz-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -o-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  #show-more {
    height: 76rem;
  }
  #show-more ul {
    font-size: 1rem;
  }
  .show-more-open {
    max-height: 76rem !important;
  }
}
@media screen and (max-width: 50rem) {
  #show-more {
    height: 110rem;
  }
  #show-more .content .skill-slide .more-skill-col {
    padding-bottom: 0;
    width: 100%;
  }
  .show-more-open {
    max-height: 110rem !important;
  }
}
/* EXPERIENCE */
#experience {
  transform: skewY(-3deg);
  background-color: #eee;
  padding: 2rem 0;
  margin-bottom: 2rem;
}
#experience .content {
  transform: skewY(3deg);
}
#experience #experience-nf {
  text-align: center;
}
#experience #experience-nf span {
  display: block;
}
#experience #experience-nf #nf-span-1 {
  font-size: 2rem;
}
#experience #experience-nf #nf-span-2 {
  margin: -1.5rem 0;
  font-size: 6rem;
  font-weight: bold;
}
#experience #experience-nf #nf-span-3 {
  font-size: 2rem;
}
#experience #experience-nf #nf-span-3 strong {
  color: #159957;
}
/* EDUCATION*/
#education .education-item {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#education .education-item h3 {
  margin: 0;
  margin-bottom: 0.3rem;
}
#education .education-item h3:after {
  content: none;
}
#education .education-item h3 i {
  margin-left: 0.4rem;
  font-size: 1rem;
}
#education .education-item p {
  margin: 0;
}
#education .education-item .small {
  font-size: 1rem;
}
/* BUTTON */
.btn-section {
  text-align: center;
  padding-top: 1rem;
}
.btn-section .btn {
  font-size: 1rem;
  cursor: pointer;
}
/* AUXILIARS CLASS */
.bg-green-blue {
  background-image: linear-gradient(120deg, #155799, #159957);
}
.top-shadow {
  box-shadow: 0px -3px 3px rgba(0,0,0,0.3);
}
.bottom-shadow {
  box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
}
/* AUXILIAR */
.display-hide {
  display: none;
}
