/* MIXINS */
/* HEADER */
.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
}
.page-header nav {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  z-index: 100;
  vertical-align: middle;
}
.page-header nav ul {
  padding-left: 0;
  margin-top: 1rem;
  list-style: none;
}
.page-header nav ul li {
  opacity: 0.7;
  display: inline-block;
  margin: 0rem 1.2rem;
  font-size: 1em;
  font-weight: bold;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.page-header nav ul li a {
  text-decoration: none;
  color: inherit;
}
.page-header nav ul li:hover {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.nav-open {
  max-height: 25rem !important;
  opacity: 1 !important;
  -webkit-transition: max-height 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -moz-transition: max-height 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  -o-transition: max-height 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  transition: max-height 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
}
.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}
.project-tagline {
  margin-bottom: 0;
  font-weight: normal;
  opacity: 0.7;
}
.btn-nav-header {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 1rem;
  right: 1rem;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  z-index: 200;
}
.btn-nav-header span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background-color: #fff;
  opacity: 0.8;
  display: block;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.btn-nav-header:hover span {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.rotate {
  transform: rotate(-90deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.rotate span {
  opacity: 1;
}
.profile_image {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  transform: translateY(-5rem);
  z-index: 100;
}
.profile_image figure {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  border: 0.6rem solid rgba(255,255,255,0.8);
  border-radius: 100%;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.profile_image figure img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}
@media screen and (min-width: 64em) {
  .project-name {
    padding: 3rem 6rem 0rem;
    font-size: 3.25rem;
  }
  .project-tagline {
    padding: 0rem 6rem 7rem;
    font-size: 1.25rem;
  }
  .page-header nav {
    display: block;
  }
  .btn-nav-header {
    display: none;
  }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    padding: 3rem 4rem 0rem;
    font-size: 2.25rem;
  }
  .project-tagline {
    padding: 0rem 4rem 5rem;
    font-size: 1.15rem;
  }
  .page-header nav ul {
    max-height: 0;
    overflow: hidden;
    padding-top: 2rem;
    margin-bottom: -1rem;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    -moz-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    -o-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  }
  .page-header nav ul li {
    display: block;
    padding-bottom: 1rem;
  }
  .profile_image {
    transform: translateY(-4rem);
  }
  .profile_image figure {
    width: 8rem;
    height: 8rem;
    border: 0.4rem solid rgba(255,255,255,0.8);
  }
  .btn-nav-header {
    display: block;
  }
}
@media screen and (max-width: 42em) {
  .project-name {
    padding: 2rem 1rem 0rem;
    font-size: 1.75rem;
  }
  .project-tagline {
    padding: 0rem 1rem 4rem;
    font-size: 1rem;
  }
  .page-header nav ul {
    max-height: 0;
    overflow: hidden;
    padding-top: 2rem;
    margin-bottom: -1rem;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    -moz-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    -o-transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
    transition: all 0.5s cubic-bezier(0.675, 0.17, 0.245, 0.795);
  }
  .page-header nav ul li {
    display: block;
    padding-bottom: 1rem;
  }
  .profile_image {
    transform: translateY(-3rem);
  }
  .profile_image figure {
    width: 8rem;
    height: 8rem;
    border: 0.4rem solid rgba(255,255,255,0.8);
  }
}
/* MAIN CONTENT */
/* SKILLS */
.skills-row {
  margin: 0 auto;
}
.skills-row .skill-circle {
  display: inline-block;
  margin: 1rem;
}
.skills-row .skill-circle span {
  position: absolute;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.skills-row .skill-circle figure {
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  padding: 0.6rem;
  background-image: linear-gradient(120deg, #155799, #159957);
  border-radius: 100%;
}
.skills-row .skill-circle figure img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
  background: #fff;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.skills-row .skill-circle:hover span {
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.skills-row .skill-circle:hover figure img {
  opacity: 0.1;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
