/* VARIABLES */
color-lg1-init = #155799
color-lg1-end = #159957

/* MIXINS */

transition(property = all, time = 0.4s, effect = ease-in-out)
  -webkit-transition:property time effect;
  -moz-transition: property time effect;
  -o-transition: property time effect;
  transition: property time effect;

size-wh(w, h)
  width: w
  height: h

/* GENERAL */
*
  box-sizing: border-box

body
  padding: 0
  margin: 0
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px
  line-height: 1.5
  color: #606c71

a
  color: inherit
  text-decoration: none

  &:hover
    text-decoration: underline;

.btn
  display: inline-block;
  margin: 1rem auto
  color: rgb(21, 153, 87)
  background-color: rgba(255, 255, 255, 0.2)
  border-color: rgb(21, 153, 87)
  border-style: solid;
  border-width: 0.3rem
  border-radius: 0.3rem
  transition(all, 0.2s)

  &:hover
    color: rgb(255, 255, 255)
    background-color: rgb(21, 153, 87)
    text-decoration: none


/* HEADER */

.page-header
  color: #fff
  text-align: center;
  background-color: #159957
  background-image: linear-gradient(120deg, color-lg1-init, color-lg1-end)

  nav
    position: relative;
    width: 100%
    padding: 0.5rem
    z-index: 100
    vertical-align: middle;

    ul
      padding-left: 0
      margin-top: 1rem
      list-style: none;
      // transition(all, 0.5s, cubic-bezier(0.675, 0.170, 0.245, 0.795))

      li
        opacity: 0.7
        display: inline-block;
        margin: 0rem 1.2rem
        font-size: 1.0em
        font-weight: bold;
        transition(opacity)

        a
          text-decoration: none
          color: inherit

        &:hover
          opacity: 1
          transition(opacity)

.nav-open
  max-height: 25rem !important
  opacity: 1 !important
  transition(max-height, 0.5s, cubic-bezier(0.675, 0.170, 0.245, 0.795))

.project-name
  margin-top: 0
  margin-bottom: 0.1rem

// .project-tagline
//   margin-bottom: 0
//   font-weight: normal
//   opacity: 0.7

.social-icons i
  cursor: pointer
  padding: 0 0.5rem
  opacity: 0.7
  transition(opacity, 0.2s)

  &:hover
    opacity: 1
    transition(opacity, 0.2s)

.btn-nav-header
  cursor: pointer
  // font-size: 2rem
  position: absolute
  display: block
  top: 1rem
  right: 1rem
  //float: right;
  //size-wh(30px, 40px)
  transition(all, 0.4s)
  z-index: 200

  span
    size-wh(30px, 4px)
    margin-bottom: 6px
    border-radius: 1000px
    background-color: rgb(255, 255, 255)
    opacity: 0.8
    display: block
    transition(opacity)

  &:hover span
      opacity: 1
      transition(opacity)

.rotate
  transform: rotate(-90deg);
  transition(all, 0.4s)

  span
    opacity: 1

.profile_image
  width: 100%
  //height: 10rem
  // padding: 0rem 6rem
  margin: 0 auto
  position: absolute;
  transform: translateY(-5rem);
  z-index: 100

  figure
    size-wh(10rem, 10rem)
    margin: 0 auto
    //padding: 1rem
    // background-color:rgb(255, 255, 255)
    border 0.6rem solid rgba(255, 255, 255, 0.8)
    border-radius: 100%
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2)

    img
      max-width: 100%
      max-height: 100%
      border-radius: inherit

@media screen and (min-width: 64em)
  .project-name
    padding: 3rem 6rem 0rem
    font-size: 3.25rem

  // .project-tagline
  //   padding: 0rem 6rem 7rem
  //   font-size: 1.25rem

  .social-icons
    padding: 0.75rem 6rem 7rem
    font-size: 1.5rem

  .page-header nav
    display: block

    // ul
    //   display: block

  .btn-nav-header
    display: none


@media screen and (min-width: 42em) and (max-width: 64em)
  .project-name
    padding: 3rem 4rem 0rem
    font-size: 2.25rem

  // .project-tagline
  //   padding: 0rem 4rem 5rem
  //   font-size: 1.15rem

  .social-icons
    padding: 1rem 4rem 6rem
    font-size: 1.35rem

  .page-header nav ul
    //display: none
    max-height: 0
    overflow: hidden;
    padding-top: 2rem
    margin-bottom: -1rem
    opacity: 0
    transition(all, 0.5s, cubic-bezier(0.675, 0.170, 0.245, 0.795))

    li
      display: block
      padding-bottom: 1rem

  .profile_image
    transform: translateY(-4rem)

    figure
      size-wh(8rem, 8rem)
      border 0.4rem solid rgba(255, 255, 255, 0.8)

  .btn-nav-header
    display: block

@media screen and (max-width: 42em)
  .project-name
    padding: 2rem 1rem 0rem
    font-size: 2.0rem

  // .project-tagline
  //   padding: 0rem 1rem 4rem
  //   font-size: 1.0rem

  .social-icons
    padding: 1rem 1rem 4.5rem
    font-size: 1.35rem

  .page-header nav ul
    //display: none
    max-height: 0
    overflow: hidden;
    padding-top: 2rem
    margin-bottom: -1rem
    opacity: 0
    transition(all, 0.5s, cubic-bezier(0.675, 0.170, 0.245, 0.795))

    li
      display: block
      padding-bottom: 1rem

  .profile_image
    transform: translateY(-3rem)

    figure
      size-wh(8rem, 8rem)
      border 0.4rem solid rgba(255, 255, 255, 0.8)


/* MAIN CONTENT */
.main-content
  h1, h2, h3, h4, h5, h6
    margin-top: 2rem
    margin-bottom: 1rem
    font-weight: normal
    color: #159957

@media screen and (min-width: 64em)
  .main-content
    padding: 6rem 0rem 2rem

  .content
    max-width: 64rem
    padding: 1rem 6rem 1rem
    margin: 0 auto
    font-size: 1.1rem

@media screen and (min-width: 42em) and (max-width: 64em)
  .main-content
    padding: 4rem 0rem 2rem

  .content
    padding: 0.5rem 4rem 0.5rem
    font-size: 1.1rem

@media screen and (max-width: 42em)
  .main-content
    padding: 5rem 0rem 2rem

  .content
    padding: 0.5rem 1rem 0.5rem
    font-size: 1rem


/* SKILLS */
#skills
  z-index: 100
  position: relative;

  .skills-row
    margin: 0 auto
    text-align: center;

    .skill-circle
      // size-wh(10rem, 10rem)
      display: inline-block
      margin: 1rem
      background-image: linear-gradient(120deg, color-lg1-init, color-lg1-end)
      border-radius: 100%

      span
        position: absolute;
        size-wh(8rem, 8rem)
        line-height: 8rem
        display: block;
        // text-align: center;
        color: rgb(255, 255, 255)
        font-weight: bold
        font-size: 2rem
        z-index: 100
        opacity: 0
        transition(opacity, 0.2s)

      figure
        size-wh(8rem, 8rem)
        margin: 0 auto
        //padding: 0.6rem
        border 0.6rem solid rgba(255, 255, 255, 0.0)
        border-radius: 100%

        img
          max-width: 100%
          max-height: 100%
          border-radius: inherit
          background: rgb(255, 255, 255)
          transition(opacity, 0.2s)

      &:hover
        span
          opacity: 1
          transition(opacity, 0.2s)

        figure
          img
            opacity: 0.1
            transition(opacity, 0.2s)

  #show-more-btn
    // button
    //   border-width: 0
    b
      padding-right: 0.4rem

    i
      transform: translateY(-0.1rem);
      transition(transform, 0.4s)

.rotate-arrow
  transform: rotate(180deg) translateY(-0.1rem) !important
  transition(transform, 0.4s)

/* SHOW MORE */
#show-more
  max-height: 0
  height: 32rem
  overflow: hidden
  //padding-top: 2rem
  // opacity: 0
  transition(all, 0.5s, cubic-bezier(0.675, 0.170, 0.245, 0.795))

.show-more-open
  max-height: 64rem !important
  // opacity: 1 !important
  transition(all, 0.5s, cubic-bezier(0.675, 0.170, 0.245, 0.795))

/* EXPERIENCE */

#experience

  #experience-nf
    text-align: center;

    span
      display: block

    #nf-span-1
      font-size: 2rem

    #nf-span-2
      margin: -1.5rem 0
      font-size: 6rem
      font-weight: bold

    #nf-span-3
      font-size: 2rem


/* BUTTON */
.btn-section
  text-align: center;
  padding-top: 1rem

  .btn
    font-size: 1rem
    cursor: pointer

/* AUXILIARS CLASS */

.bg-green-blue
  background-image: linear-gradient(120deg, color-lg1-init, color-lg1-end)

.top-shadow
  box-shadow: 0px -3px 3px rgba(0,0,0,0.3)

.bottom-shadow
  box-shadow: 0px 3px 3px rgba(0,0,0,0.3)
